doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
body
  div(class="main")
    h1 Контакты
    div(class="searchContact")
      p  Ведите номер ID:
      input(class="contactsNumber" type="number" min="1" max="8")
      button(class="accept") &#10004;
    table(class="tables")
      tr
        th Id
        th Name
        th Email
        th Phone
