.main{
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.tables{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: #1f57;
}
th, td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 30px;
}
.searchContact{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}